* {
  margin: 0;
  box-sizing: border-box;
}

.all {
  display: flex;
  flex-direction: row;
  background-color: rgba(101, 164, 110, 0.5);
  margin: 20px;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  height: fit-content;
}

h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  height: 20%;
  width: 100%;
}

h2 {
  font-weight: 100;
  margin: 10px 0 34px 10px;
}

p {
  font-size: 15px;
  margin: 88px 0 0 0;
  text-align: center;
}

fieldset {
  border: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  height: 100%;
  margin: 10px;
  flex-wrap: wrap;
}

.registration {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 10px;
  align-content: center;
}

/*form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 500px;
    margin: 20px;
}*/

img {
  width: 250px;
  align-self: center;
  margin: 50px 0 50px 0;
}

input[type="text"],
input[type="email"] {
  width: 100%;
}

input[type="date"] {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 8px;
}

.tel {
  display: block;
  width: 100%;
}

input[type="checkbox"] {
  margin: 10px 0 0 10px;
}

.package {
  border: solid rgba(0, 0, 0, 0.3);
}

input[type="button"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .all {
    flex-direction: column;
    align-items: center;
  }
  p {
    margin: 17px 0 0 0;
  }
}
